---
layout: project
title: rustbucket
tech: Rust
blurb: Developed in a weekend at HackKU25 to gain experience with rust
---
<h1>rustbucket</h1>
{% include github-link.html url="https://github.com/bschulte1515/rustbucket" label="rustbucket Source Code" %}
{% include fancycode.html lang="x86-64" code="401132: 48 be 2f 66 6c 61 67 73 2f 72    movabs rsi, 0x722f7367616c662f
40113c: 48 bf 69 64 64 6c 65 72 00 00    movabs rdi, 0x72656c646469
401146: e8 95 fe ff ff                   call   4010e0 <question_everything>"
%}
