<div class="sidebar">
  <nav>
    <ul class="bubble-list">
      <h3>
        <a href="/">{{ site.title }}</a>
      </h3>
      {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}"{% if page.url == item.link %} class="current"{% endif %}>
            {{ item.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <div id="theme-toggle" class="theme-toggle" style="position: absolute; bottom: 10px; left: 10px; cursor: pointer;">
    '90s
  </div>
</div>
