<body>
    <div id="vault-name">
        <div id="text">
            {{ site.obsidian_vault | split: "/" | last }}</div>
        <button id="collapseExpand"></button>
    </div>
    <div id="file-tree"></div>
</body>

<!-- ------------------------- Touch screen docker ------------------------- -->
<script>

    let touchStartX = 0;
    let touchCurrentX = 0;
    let isDraggingTouch = false;
    let explorerDisplayed = false;
    let activationDistance = 0;

    document.addEventListener('touchstart', handleTouchStart, false);
    document.addEventListener('touchmove', handleTouchMove, false);
    document.addEventListener('touchend', handleTouchEnd, false);

    function handleTouchStart(evt) {
        const firstTouch = evt.touches[0];
        touchStartX = firstTouch.clientX;
        let touchStartY = firstTouch.clientY;

        explorerDisplayed = isDisplayNone(EXPLORER);
        activationDistance = window.innerWidth - 120;

        if (!explorerDisplayed) {
            if (touchStartX < 40 && touchStartY > 150
                && touchStartY < window.innerHeight - 45) {
                isDraggingTouch = true;
                EXPLORER.style.display = '';
            }
        }
        else {
            if (touchStartX > window.innerWidth - 40
                && touchStartY > 100) {
                isDraggingTouch = true;
                FILEREAD.style.display = '';
            }
        }

    }

    function handleTouchMove(evt) {
        if (!isDraggingTouch) return;
        touchCurrentX = evt.touches[0].clientX;

        if (!explorerDisplayed) {
            // Dragging to adjust the explorer width from left to right
            let diffX = touchCurrentX - touchStartX;
            let padding = linearMapInRange(diffX, 0, activationDistance, 1, 100);
            EXPLORER.style.width = `calc(${padding}% - 2rem)`;
        } else {
            // Dragging to reveal the explorer from right to left
            let diffX = window.innerWidth - touchCurrentX;
            let padding = linearMapInRange(diffX, 0, activationDistance, 100, 1);
            EXPLORER.style.width = `calc(${padding}% - 2rem)`;
        }
    }

    function handleTouchEnd(evt) {
        if (!isDraggingTouch) return;

        if (!explorerDisplayed) {
            let diffX = touchCurrentX - touchStartX;
            if (diffX > activationDistance) {
                EXPLORER.style.width = 'calc(100% - 2rem)';
                FILEREAD.style.display = 'none';
            } else {
                EXPLORER.style.display = 'none';
                EXPLORER.style.width = '1%';
            }
        } else {
            let diffX = window.innerWidth - touchCurrentX;
            if (diffX > activationDistance) {
                EXPLORER.style.display = 'none';
                EXPLORER.style.width = '1%';
            } else {
                FILEREAD.style.display = '';
                EXPLORER.style.width = 'calc(100% - 2rem)';
            }
        }
        isDraggingTouch = false;
        touchStartX = 0; touchCurrentX = 0;
    }

    function isDisplayNone(element) {
        const style = getComputedStyle(element);
        return style.display !== 'none';
    }

</script>
<!-- ------------------------- File tree generator ------------------------- -->
<script lang="text/javascript">

    function buildFileTree(rootElement, tree, expandRoot = false) {
        const EXPLORER = OBSIDIAN.querySelector('#explorer');
        const FILE_TREE = EXPLORER.querySelector(' #file-tree');
        const old_ul = rootElement.querySelector('ul');
        if (old_ul) rootElement.removeChild(old_ul);
        const ul = document.createElement('ul');
        rootElement.appendChild(ul);

        tree.forEach(child => {
            const li = document.createElement('li');
            ul.appendChild(li);

            const button = document.createElement('button');
            const decodedString = he.decode(child.name);
            button.textContent = decodedString;
            li.appendChild(button);

            if (child.type === 'dir') {
                li.classList.add('dir');

                button.innerHTML =
                    DOMPurify.sanitize(getSVGIcon(Icon.RightArrow) + button.textContent);
                var expanded = false;
                button.addEventListener('click', () => {
                    expanded = !expanded;
                    button.innerHTML =
                        DOMPurify.sanitize((expanded ? getSVGIcon(Icon.DownArrow)
                            : getSVGIcon(Icon.RightArrow)) + button.textContent);

                    if (expanded) {
                        if (!li.querySelector('ul'))
                            buildFileTree(li, child.children);
                    } else {
                        const nestedUl = li.querySelector('ul');
                        if (nestedUl) li.removeChild(nestedUl);
                    }
                });
                if (expandRoot === true) {
                    expanded = true;
                    button.innerHTML =
                        DOMPurify.sanitize(getSVGIcon(Icon.DownArrow) + button.textContent);
                    if (!li.querySelector('ul'))
                        buildFileTree(li, child.children, true);
                }

            } else if (child.type === 'file') {
                li.classList.add('file');
                button.addEventListener('click', () => {
                    dispatchFileSelectEvt(he.decode(child.path));
                });
                const fileName = child.name.replace(/\.[^/.]+$/, "")
                button.textContent = he.decode(fileName);
            }
        });
    }

    function sortObsidianVaultFiles(tree) {
        const EXPLORER = OBSIDIAN.querySelector('#explorer');
        const FILE_TREE = EXPLORER.querySelector(' #file-tree');
        tree.sort((a, b) => {
            if (a.type === 'dir' && b.type === 'file') {
                return -1;
            } else if (a.type === 'file' && b.type === 'dir') {
                return 1;
            } else return a.name.localeCompare(b.name);
        });
        tree.forEach(child => {
            if (child.type === 'dir') {
                sortObsidianVaultFiles(child.children);
            }
        });
        return tree;
    }

    let expandOrCollapseFileTree = false;
    document.addEventListener('DOMContentLoaded', () => {
        const VAULT_FILES =
            JSON.parse('{{ site.data.obsidian.vault_files | escape }}'.replace(/&quot;/g, '"'));
        const EXPLORER = OBSIDIAN.querySelector('#explorer');
        const FILE_TREE = EXPLORER.querySelector(' #file-tree');
        const sortedVaultFiles = sortObsidianVaultFiles(VAULT_FILES);
        buildFileTree(FILE_TREE, sortedVaultFiles);

        const collapseExpand = EXPLORER.querySelector('#vault-name #collapseExpand');
        collapseExpand.innerHTML = DOMPurify.sanitize(getSVGIcon(Icon.ChevronExpand));
        collapseExpand.addEventListener('click', () => {
            expandOrCollapseFileTree = !expandOrCollapseFileTree;
            if (expandOrCollapseFileTree)
                EXPLORER.classList.add('hide-scrollbar');
            buildFileTree(FILE_TREE, sortedVaultFiles, expandOrCollapseFileTree);
            collapseExpand.innerHTML = DOMPurify.sanitize((expandOrCollapseFileTree ?
                getSVGIcon(Icon.ChevronCollapse)
                : getSVGIcon(Icon.ChevronExpand)));
        });

        EXPLORER.addEventListener('scroll', () => {
            if (EXPLORER.scrollTop < 250) {
                EXPLORER.classList.add('hide-scrollbar');
            } else
                EXPLORER.classList.remove('hide-scrollbar');
        });
    });
</script>