<head>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
</head>

<!-- --------------------------- Data Extractors --------------------------- -->
<script>
    function extractFilenameFromPath(filePath, removeExtension = true) {
        const fileName = filePath.split('/').pop();
        return removeExtension ? fileName.replace(/\.[^/.]+$/, "") : fileName;
    }
    function extractBacklinks(content) {
        // Matches double brackets not preceded by an exclamation mark: (?<!\!)\[\[([^\]]+)\]\] 
        return content.match(/(?<!\!)\[\[([^\]]+)\]\]/g);
    }

    function extractEmbeds(content) {
        // !\[\[([^\]]+)\]\]: Matches double brackets prefixed by an exclamation mark.
        return content.match(/!\[\[([^\]]+)\]\]/g);
    }

    function extractCallouts(content) {
        // ^\>: Ensures the match starts at the beginning of a line with a >.
        // \[\![^\]]+\]: Matches a space, followed by ![ w/ content inside the square brackets.
        return content.match(/^\> \[\![^\]]+\]/gm);
    }
</script>

<!-- --------------------------- Data Replacers ---------------------------- -->
<script>
    function replaceBacklinks(backlinksArr, cleanedHTML, backlinks_enabled = "true") {
        if (backlinksArr) backlinksArr.forEach(backlink => {
            const innerText = backlink.slice(2, -2);
            let backlinkElem;
            if (backlinks_enabled === "true") {
                const button = document.createElement('button');
                backlinkElem = button;
            } else {
                const span = document.createElement('span');
                backlinkElem = span;
            }
            let parts = innerText.split('|');
            if (parts.length > 1) {
                backlinkElem.textContent =
                    extractFilenameFromPath(parts[1].trim(), false);

                backlinkElem.dataset.value = parts[0].trim();

            } else {
                backlinkElem.textContent = innerText;
            }

            backlinkElem.className = 'backlink';
            cleanedHTML.innerHTML =
                cleanedHTML.innerHTML.replace(backlink, backlinkElem.outerHTML);
        });
    }
</script>

<!-- ---------------------- Parse string to Markdown ----------------------- -->
<script>
    function parseStringToMarkdown(content) {
        const md = window.markdownit({ breaks: true });
        let htmlContent = md.render(content);

        const markdownDiv = document.createElement('div');
        markdownDiv.innerHTML = DOMPurify.sanitize(htmlContent);

        const backlinksArr = extractBacklinks(content);
        if (backlinksArr)
            replaceBacklinks(backlinksArr, markdownDiv);
        const calloutsArr = extractCallouts(content);
        if (calloutsArr)
            generateCallouts(calloutsArr, markdownDiv);
        const embedsArr = extractEmbeds(content);
        if (embedsArr) generateEmbeds(embedsArr, markdownDiv);
        return markdownDiv
    }
</script>

<!-- --------------------------- Data Generators --------------------------- -->
<script>
    function generateBreadcrumbs(filePath) {
        const filePathArr = filePath.split('/').filter(Boolean);
        const breadcrumbs = FILEREAD.querySelector('#breadcrumb');
        while (breadcrumbs.firstChild)
            breadcrumbs.removeChild(breadcrumbs.firstChild);
        filePathArr.forEach((path, index) => {
            const li = document.createElement('li');
            breadcrumbs.appendChild(li);
            const btn = document.createElement('button');
            btn.textContent = path;
            li.appendChild(btn);
            if (index === filePathArr.length - 1) {
                btn.textContent = extractFilenameFromPath(path);
                btn.addEventListener('click', () => {
                    if (filePath.endsWith('.mdj'))
                        FILEREAD.scrollTop = 0;
                    else if (filePath.endsWith('.canvas'))
                        resetCanvasPosition();
                });
            }
        });
    }

    function mapBacklinksToJson(backlinks_json) {
        FILEREAD.querySelectorAll('.backlink').forEach(button => {
            button.addEventListener('click', (event) => {
                for (const parsedFilePath in backlinks_json) {
                    let _filePath = parsedFilePath.replace("/:|", "'");
                    if (_filePath.endsWith('/')) _filePath = _filePath.slice(0, -1);
                    const fileName = extractFilenameFromPath(_filePath);
                    if (!button.dataset.value) {
                        const dataValue = event.target.textContent;
                        if (dataValue.includes('#')) {
                            const parts = dataValue.split('#');
                            if (fileName === parts[0])
                                dispatchFileSelectEvt('/' + _filePath, parts[1]);
                        } else {
                            if (fileName === dataValue)
                                dispatchFileSelectEvt(_filePath);
                        }
                    } else {
                        const dataValue = button.dataset.value;
                        if (dataValue.includes('#')) {
                            const parts = dataValue.split('#');
                            if (fileName === parts[0])
                                dispatchFileSelectEvt('/' + _filePath, parts[1]);
                        } else {
                            if (fileName === extractFilenameFromPath(dataValue)) {
                                dispatchFileSelectEvt('/' + _filePath);
                            }
                        }
                    }
                }
            });
        });
    }

    function removeExtraTrailingDotFromFilename(encodedFileName) {
        const lastDotIndex = encodedFileName.lastIndexOf('.');
        if (lastDotIndex > 0 && encodedFileName.charAt(lastDotIndex - 1) === '.')
            return encodedFileName.substring(0, lastDotIndex - 1) + encodedFileName.substring(lastDotIndex);
        return encodedFileName;
    }


    function generateCallouts(calloutsArr, cleanedHTML) {
        calloutsArr.forEach(callout => {
            const calloutType = callout.slice(2).trim().toLowerCase();
            console.log("calloutType: " + calloutType);
            let svgString = '';
            switch (calloutType) {
                case '[!note]':
                    svgString = getSVGIcon(Icon.Note);
                    break;
                case '[!todo]':
                    svgString = getSVGIcon(Icon.Todo);
                    break;
                case '[!tip]':
                case '[!hint]':
                case '[!important]':
                    svgString = getSVGIcon(Icon.Tip);
                    break;
                case '[!question]':
                case '[!help]':
                case '[!faq]':
                    svgString = getSVGIcon(Icon.Question);
                    break;
                case '[!success]':
                case '[!check]':
                case '[!done]':
                    svgString = getSVGIcon(Icon.Success);
                    break;
                case '[!warning]':
                case '[!caution]':
                case '[!attention]':
                    svgString = getSVGIcon(Icon.Warning);
                    break;
                case '[!failure]':
                case '[!fail]':
                case '[!missing]':
                    svgString = getSVGIcon(Icon.Failure);
                    break;
                case '[!info]':
                    svgString = getSVGIcon(Icon.Info);
                    break;
                case '[!example]':
                    svgString = getSVGIcon(Icon.Example);
                    break;
                default:
                    console.log(`Unknown callout type: ${calloutType}`);
                    break;
            }
            // Perform the replacement in a case-insensitive manner
            if (svgString) {
                const calloutRegex = new RegExp(calloutType.replace(/[[\]!]/g, '\\$&'), 'gi');
                cleanedHTML.innerHTML = cleanedHTML.innerHTML.replace(calloutRegex, svgString);
            }
        });
    }

    function generateEmbeds(embedsArr, cleanedHTML) {
        const VAULTPATH = '{{ site.obsidian_vault | escape }}';
        const embeds = '{{ site.data.obsidian.embeds | escape }}';
        const siteurl = '{{ site.url | escape }}' + '/';
        const encodedVaultPath =
            VAULTPATH.split('/').map(part => encodeURIComponent(part)).join('/') + '/';
        let newHTML = cleanedHTML.innerHTML;
        try {
            const embedsParsed = JSON.parse(embeds.replace(/&quot;/g, '"'));
            embedsArr.forEach(embed => {
                const fileNameMatch = embed.match(/\[\[(.*?)\]\]/);
                if (fileNameMatch) {
                    const fileName = extractFilenameFromPath(fileNameMatch[1]);
                    console.log("fileNameMatch: " + fileNameMatch + " embed " + embed);
                    for (let key in embedsParsed) {
                        const embedFileName = extractFilenameFromPath(key);
                        if (embedFileName.replace("/:|", "'") === fileName) {
                            let encodedFileName =
                                key.split('/').map(part => encodeURIComponent(part)).join('/');
                            const lastDotIndex = encodedFileName.lastIndexOf('.');

                            encodedFileName = removeExtraTrailingDotFromFilename(encodedFileName);
                            const fullEmbedPath = encodedVaultPath + encodedFileName;
                            const fileType = getFileType(encodedFileName);
                            const filePath = siteurl + fullEmbedPath;
                            let embedElem;
                            switch (fileType) {
                                case 'pdf':
                                default:
                                    embedElem = document.createElement('a');
                                    embedElem.href = filePath;
                                    embedElem.className = 'url-link';
                                    embedElem.textContent = fileName;
                                    break;
                                case 'image':
                                    embedElem = document.createElement('img');
                                    embedElem.src = filePath;
                                    break;
                                case 'audio':
                                    embedElem = document.createElement('audio');
                                    embedElem.src = filePath;
                                    embedElem.controls = true;
                                    break;
                                case 'video':
                                    embedElem = document.createElement('video');
                                    embedElem.src = filePath;
                                    embedElem.controls = true;
                                    break;
                            }
                            if (fileType !== 'pdf' && fileType !== 'unknown') {
                                embedContainer = document.createElement('div');
                                embedContainer.className = 'embed';

                                embedContainer.appendChild(embedElem);
                                pTag = document.createElement('p');
                                pTag.textContent = fileName;
                                embedContainer.appendChild(pTag);
                                newHTML = newHTML.replace(embed, embedContainer.outerHTML);
                            } else newHTML = newHTML.replace(embed, embedElem.outerHTML);
                        }
                    }
                }
            });
            const tempDiv = document.createElement('div');
            tempDiv.innerHTML = DOMPurify.sanitize(newHTML);

            // Remove all <p> tags that are empty
            tempDiv.querySelectorAll('p').forEach(p => {
                if (!p.textContent.trim()) {
                    p.parentNode.removeChild(p);
                }
            });

            cleanedHTML.innerHTML = tempDiv.innerHTML;
        } catch (e) {
            console.error("Error parsing embeds:", e);
        }
    }
</script>

<!-- ---------------------- File read event handlers ----------------------- -->
<script>
    let BACKLINKS;
    document.addEventListener('DOMContentLoaded', () => {
        const homepage = '{{ site.obsidian_homepage | escape }}'
        let backlinks_enabled = '{{ site.obsidian_backlinks | escape }}';
        if (backlinks_enabled === null ||
            backlinks_enabled === '' ||
            backlinks_enabled === undefined)
            backlinks_enabled = "true";
        console.info("backlinks enabled? " + backlinks_enabled);
        if (backlinks_enabled === "true") {
            try {
                BACKLINKS =
                    JSON.parse('{{ site.data.obsidian.backlinks | escape }}'.replace(/&quot;/g, '"'));
                console.info("backlinks parsed: " + Object.keys(BACKLINKS).length);
            } catch (e) {
                console.error("Error parsing backlinks:", e);
            }
        }
        if (homepage) switchPage(homepage);
    });

    function switchPage(page) {
        if (page.endsWith('.canvas')) {
            document.getElementById('note').style.display = 'none';
            document.getElementById('canvas').style.display = 'flex';
        } else {
            document.getElementById('canvas').style.display = 'none';
            document.getElementById('note').style.display = 'flex';
        }
    }

    function dispatchFileSelectEvt(filePath, heading) {
        const EXPLORER = OBSIDIAN.querySelector('#explorer');
        const detail = { filePath };
        if (filePath.endsWith('.mdj')) {
            if (heading) detail.heading = heading;
            const event = new CustomEvent('obsidian_noteSelect', { detail });
            document.dispatchEvent(event);
            Cookies.set('last-file', filePath, { expires: 300, path: '', sameSite: 'Strict' })
        } else if (filePath.endsWith('.canvas')) {
            const event = new CustomEvent('obsidian_canvasSelect', { detail });
            document.dispatchEvent(event);
            Cookies.set('last-file', filePath, { expires: 300, path: '', sameSite: 'Strict' })
        } else {
            const event = new CustomEvent('obsidian_mediaSelect', { detail });
            document.dispatchEvent(event);
        }
        if (window.innerWidth < 481) {
            EXPLORER.style.display = 'none';
            EXPLORER.style.width = '1%';
            FILEREAD.style.display = '';
        }
    }
</script>