<!-- -------------------------------- Note --------------------------------- -->

<body>
    <h3 id="note-title"></h3>
    <div id="note-content"></div>
    <ul id="linked-mentions"></ul>
</body>

<script>
    function updateNotePadding(widthPercentage) {
        if (window.innerWidth < 481) {
            NOTE.style.paddingLeft = `${minPadding}vw`;
            NOTE.style.paddingRight = `${minPadding}vw`;
        } else {
            let padding = linearMapInRange(widthPercentage,
                minWidth,
                maxWidth,
                maxPadding,
                minPadding);
            NOTE.style.paddingLeft = `${padding}vw`;
            NOTE.style.paddingRight = `${padding}vw`;
        }
    }

    function loadNote(filePath, header = "") {
        console.log("filePath: " + filePath);
        if (filePath.startsWith('/'))
            filePath = filePath.substring(1);
        generateBreadcrumbs(filePath);
        fetchNoteContent(filePath, header);
        FILEREAD.removeEventListener('wheel', adjustCanvasScaleOnScroll);
    }

    function fetchNoteContent(filePath, header = "") {
        const fullFilePath = getFullFilePath('/' + filePath);
        console.debug("fullNoteFilePath: " + fullFilePath)
        fetch(fullFilePath).then(response => {
            if (!response.ok)
                throw new Error('Network response: ' + response.statusText);
            return response.text();
        }).then(content => {
            NOTE.querySelector('#note-title').textContent =
                extractFilenameFromPath(filePath);

            const noteDiv = parseStringToMarkdown(content);

            NOTE.querySelector('#note-content').innerHTML =
                DOMPurify.sanitize(noteDiv.innerHTML);
            noteDiv.remove();

            FILEREAD.scrollTop = 0;
            FILEREAD.scrollLeft = 0;
            if (header) {
                const headers = document.querySelectorAll('h1, h2, h3, h4, h5, h6');
                headers.forEach((heading) => {
                    if (heading.textContent === header) heading.scrollIntoView();
                });
            }

            if (BACKLINKS) {
                mapBacklinksToJson(BACKLINKS);
                generateLinkedMentions(filePath, BACKLINKS);
            }
        }).catch(error => {
            console.error('Error fetching file:', error);
        });
    }
</script>

<!-- ---------------------- Generate Linked Mentions ----------------------- -->
<script>
    function generateLinkedMentions(filePath, backlinks_parsed) {
        const VAULTPATH = '/' + '{{ site.obsidian_vault | escape }}' + '/';
        const linkedMentionsId =
            NOTE.querySelector('#linked-mentions');
        while (linkedMentionsId.firstChild)
            linkedMentionsId.removeChild(linkedMentionsId.firstChild);
        let linked_mentions = [];
        for (const parsedFilePath in backlinks_parsed) {
            const entry = backlinks_parsed[parsedFilePath];
            entry.backlink_paths.forEach(path => {
                if (path === filePath && parsedFilePath.endsWith('.mdj')) {
                    linked_mentions.push(parsedFilePath.replace("/:|", "'"));
                }
            });
        }
        if (linked_mentions.length !== 0) {
            const h4 = document.createElement('h4');
            h4.textContent = 'Linked mentions';
            linkedMentionsId.appendChild(h4);
        }
        linked_mentions.forEach(linkedMentionPath => {
            const li = document.createElement('li');
            const linkedPathName = extractFilenameFromPath(linkedMentionPath);
            linkedMentionsId.appendChild(li);
            li.classList.add('title');
            const decodedString = he.decode(linkedPathName);
            li.textContent = decodedString;

            const linkedMentionPathFull = VAULTPATH + linkedMentionPath;
            fetch(linkedMentionPathFull)
                .then(response => {
                    if (!response.ok)
                        throw new Error('Network response: ' + response.statusText);
                    return response.text();
                }).then(content => {
                    const ul_linkedMention = document.createElement('ul');
                    li.appendChild(ul_linkedMention);
                    const backlink = `[[${extractFilenameFromPath(filePath)}]]`;
                    let lines = content.split('\n');
                    lines.forEach(line => {
                        if (line) {
                            const line_backlinks = extractBacklinks(line);
                            if (line_backlinks) {
                                line_backlinks.forEach(line_backlink => {
                                    const ulBtns =
                                        Array.from(ul_linkedMention.querySelectorAll('button'));
                                    const btnText = ulBtns.map(button => button.textContent);
                                    const stripped_backlink =
                                        line_backlink.toLowerCase()
                                            .replace(/\|.*?\]\]/, ']]')
                                            .replace(/#.*?\]\]/, ']]');
                                    if (stripped_backlink === backlink.toLowerCase())
                                        if (!btnText.includes(line)) {
                                            const btn = document.createElement('button');
                                            btn.textContent = line;
                                            btn.classList.add('sentence');
                                            btn.dataset.filePath = linkedMentionPathFull;

                                            btn.addEventListener('click', function () {
                                                const filePath =
                                                    this.dataset.filePath.replace(VAULTPATH, '');
                                                dispatchFileSelectEvt(filePath);
                                            });
                                            ul_linkedMention.appendChild(btn);
                                        }
                                });
                            }
                        }
                    });
                })
                .catch(error => {
                    console.error('Error fetching file:', error);
                });
        });
    }
</script>

<!-- ------------------------ Note event listeners ------------------------- -->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        var lastFileCookie = Cookies.get('last-file');
        if (lastFileCookie) {
            dispatchFileSelectEvt(lastFileCookie, null);
        } else {
            console.info('No last file found.');
            let homepage = '{{ site.obsidian_homepage | escape }}';
            if (homepage) {
                if (homepage.endsWith('.md'))
                    homepage = homepage.replace('.md', '.mdj');
                if (homepage.endsWith('.mdj')) {
                    switchPage(homepage);
                    loadNote(homepage);
                    console.log("note loaded: " + homepage);
                }
            }
        }
    });

    document.addEventListener('obsidian_noteSelect', function (event) {
        switchPage(event.detail.filePath);
        loadNote(event.detail.filePath, event.detail.heading);
    });
</script>