/* https://codepen.io/mandelid/pen/kNBYLJ */

#loading-spinner {
    position: absolute;
    top: calc(100vh - 65%);
    left: calc(100vw - 68%);
    z-index: 10;
    display: inline-block;
    width: 30vw;
    height: 30vw;
    border: 16px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #5f6ce9;
    animation: spin 1s linear infinite;
    -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}