#obsidian {
	#fileread {
		#note {
			padding-top: 0;
			padding-bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1;

			.backlink,
			#linked-mentions .title {
				background: none;
				border: none;
				padding: 0;
				margin: 0;
				cursor: pointer;
			}

			table td {
				color: var(--color-text);
			}

			#linked-mentions {
				font-size: 1.2em;
				width: 100%;
				margin: 8rem 0 3rem 0;
				border-top: 1px solid var(--color-border);
				list-style: none;
				padding: 0;
				margin-left: 0;
				padding-top: 4px;
				margin-bottom: 5px;

				h4 {
					color: var(--color-button);
				}

				.title {
					width: 100%;

					ul {
						margin-left: 0px;
					}

					button {
						font-size: .8em;
						display: block;
						width: auto;
						text-align: left;
						padding: 5px 5px 5px 10px;
					}
				}

				button {
					&:hover {
						background-color: var(--linked-mention-hover) !important;
					}

					ul {
						li.sentence {
							color: var(--linked-mention-color);
							width: 96%;
							padding: 8px 5px;
							font-size: 1rem;
							line-height: 1.4rem;
						}

						button.sentence:not(:first-child),
						button.sentence:last-child:hover {
							border-bottom: 1px solid var(--color-border);
							border-left: 1px solid var(--color-border);
							border-right: 1px solid var(--color-border);
						}
					}
				}

				ul {
					button.sentence {
						border: 1px solid var(--color-border);
						color: var(--color-text);
						background-color: var(--bg);
						width: 100%;

						&:first-child {
							border-top-left-radius: .6rem;
							border-top-right-radius: .6rem;
						}

						&:not(:first-child):not(:last-child) {
							border-top: none;
						}

						&:nth-last-child(2) {
							border-bottom: none;
						}

						&:last-child {
							border-bottom-left-radius: .6rem;
							border-bottom-right-radius: .6rem;
						}
					}
				}
			}
		}

		#note-title {
			font-size: 2em;
			font-weight: bold;
			margin: .2em 0 1rem 0;
		}
	}
}